body{
    background-color: beige;
    text-align: center;
}

.btn{
    border-radius: 20px;
    color: black;
    background-color: red;
    width: 300px;
    font-size: 30px;
    margin-bottom: 10px;
}